Package: soundux
Version: 0.2
Section: custom
Priority: optional
Architecture: all
Essential: no
Depends: libgtk-3-0, libwebkit2gtk-4.0-37, libx11-6, pulseaudio, pulseaudio-utils
Maintainer: info@soundux.rocks
Description: A cross-platform soundboard
