Package: soundux
Version: 0.2.8
Architecture: all
Maintainer: D3SOX <d3sox@protonmail.com>
Depends: libgtk-3-0, libwnck-3-0, libayatana-appindicator3-1, libwebkit2gtk-4.1-0, libx11-6, pipewire
Suggests: ffmpeg, youtube-dl
Section: sound
Priority: optional
Homepage: https://soundux.rocks
Description: A cross-platform soundboard
