[Desktop Entry]
Type=Application
Version=1.0
Name=Soundux
GenericName=Soundboard
Exec=/opt/soundux/soundux
Icon=soundux
Terminal=false
Categories=Audio;Music;Player;AudioVideo;
Comment=A universal soundboard using pulseaudio modules
